body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container-fluid {
  max-width: 90em;
}



/*=======================================================
  Images
  =====================================================*/

.full-image {
  max-width: 100%;
}



/*=======================================================
  Media Queries
  =====================================================*/

@media only screen and (min-width: 768px) {
  
}