#main-content {
  padding: 1em 0;

  h2 {
    margin-bottom: 0.5em;
  }
}



/*=======================================================
  Masthead
  =====================================================*/

.masthead {
  background: url('../images/ph3.jpg') no-repeat center center;
  background-size: cover;
  color: #f7f7f7;
  padding: 12em 0;
  h1 {
    margin-bottom: 0.5em;
  }
}



/*=======================================================
  Navbar
  =====================================================*/

.navbar {
  border: none;
  margin: 0;
}

.navbar-right {
  margin-right: 0;
}



/*=======================================================
  Sidebars
  =====================================================*/

.sidebar h3 {
  margin-bottom: 0.75em;
}



/*=======================================================
  Footer
  =====================================================*/

.page-footer {
  background-color: #e7e7e7;
  font-size: 75%;
  padding: 1.5em 0;
  text-align: center;
}



/*=======================================================
  Media Queries
  =====================================================*/

@media only screen and (min-width: 768px) {
  #main-content {
    padding: 2em 0;
  }
}