extends layouts/default
block content

  include includes/masthead.jade
  include includes/navigation.jade

  .container-fluid
    #main-content.row
      .col-sm-8.col-sm-push-4.col-md-6.col-md-push-3
        include includes/main-content.jade
      .col-sm-4.col-sm-pull-8.col-md-3.col-md-pull-6
        .sidebar.sidebar-left
          include includes/sidebar-left.jade
      .col-sm-12.col-md-3
        .sidebar.sidebar-right
          include includes/sidebar-right.jade