.blog-post
  h2 Headline Title
  img.full-image(src="images/ph1.jpg", alt="Placeholder", style="margin-bottom:1em;")
  p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sequi eaque maiores ab doloremque hic possimus vitae exercitationem rem, optio, nemo cupiditate minima dolor repellendus harum debitis autem, mollitia vero quos officiis! Asperiores debitis ut quo quos, quibusdam laborum. Distinctio alias optio suscipit fuga maiores non! Ipsa, repellendus quos maiores.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptatem laborum consequatur ullam repellat quis enim ratione, tenetur aliquam illo? Eum aspernatur, temporibus ab minima ipsum nobis, numquam quasi at dignissimos labore ullam ipsam doloremque placeat, cumque et alias esse rerum ducimus sapiente nihil odio libero! Temporibus, dolorem doloremque esse.
hr
.blog-post
  h2 Headline Title
  img.full-image(src="images/ph2.jpg", alt="Placeholder", style="margin-bottom:1em;")
  p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sequi eaque maiores ab doloremque hic possimus vitae exercitationem rem, optio, nemo cupiditate minima dolor repellendus harum debitis autem, mollitia vero quos officiis! Asperiores debitis ut quo quos, quibusdam laborum. Distinctio alias optio suscipit fuga maiores non! Ipsa, repellendus quos maiores.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptatem laborum consequatur ullam repellat quis enim ratione, tenetur aliquam illo? Eum aspernatur, temporibus ab minima ipsum nobis, numquam quasi at dignissimos labore ullam ipsam doloremque placeat, cumque et alias esse rerum ducimus sapiente nihil odio libero! Temporibus, dolorem doloremque esse.