.masthead
  .container
    .row
      .col-xs-12.text-center
        h1 Port Byron Historical Society
        p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique recusandae reprehenderit quam rerum laborum, consequuntur doloremque amet sed sequi quaerat.