.sidebar-module
  h3 Events
  ul.list-unstyled
    li March 26 &ndash; 
      a(href="#" title="#") Music Performance
    li April 5 &ndash; 
      a(href="#" title="#") Art Display
    li April 18 &ndash; 
      a(href="#" title="#") Baseball Game
    li May 1 &ndash; 
      a(href="#" title="#") Spring Concert
    li May 3 &ndash; 
      a(href="#" title="#") Chili Cookoff
  a.small(href="#" title="#") See all events&hellip;

hr

.sidebar-module
  h3 Sponsors
  img(src="http://placehold.it/274x150&text=Ad", alt="Ad", style="margin-bottom:1em;")
  img(src="http://placehold.it/274x150&text=Ad", alt="Ad", style="margin-bottom:1em;")